@media(max-width: 1100px) {

    body {

        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 18px;
        }

        h5 {
            font-size: 15px;
        }

        h6 {
            font-size: 13px;
        }

        p {
            font-size: 10px;
        }

    }

    .po-header-text {
        h4 {
            font-size: 18px;
        }

        padding: 0 60px;
        padding-top: 60px;
        width: 60%;


        
    }

    .pricing-panel {

        

    .card {
        width: 270px;
        height: 175px;

        .card-header {
        width: 270px;

        .dollar {
            font-size: 20px;
        }

        .price {
            font-size: 60px;
        }
    }

    
    }
    }

    .pricing-panel .card .pricing-feature ul {
        gap: 10px;
    }
     
    
}





@media(max-width:768px) {
    body {
        padding: 0;
        font-size: 5px;
    }

    .po-header-text {
        padding: 0 30px;
        padding-top: 55px;
    }

    .free-trial {
        width: 290px;
        height: 360px;

        .get-started {
            margin-top: 30px;
        }
    }

    .social-media {
        height: 90px;
    }

    .social-media-text {
        margin-left: 30px;
    }

    .po-social-media {
        height: 450px;
        .tabs{
        margin-left: 30px;

        button {
            width: 70px;
            height: 70px;

            h6 {
               font-size: 10px; 
            }
            
        }
        }

        .nuotraukos {
            .kvadratines-nuotraukos {
                width: 125px;
            }
            .batu-nuotrauka {
                width: 125px;
            }
        }
    }

    .features-panel-2 {

        flex-direction: column;
        align-items: center;
        .big-logo {
            img {
               max-width: 300px; 
            }
        }

        p {
            width: 90%;
        }

        .features-panel-2-text {
            gap: 20px;
            padding-top: 40px;
            margin-left: 40px;
            margin-bottom: 40px;
        }
    }

    .our-process-panel {
        height: 400px;

        .sections .sec-1 {
            h4 {
                font-size: 15px;
            }
            p {
                font-size: 10px;
            }
            
        }
        .sections .sec-2  {

           h4 {
                font-size: 15px;
            }
            p {
                font-size: 10px;
            }
            
        }
        .sections .sec-3 {
            
            h4 {
               font-size: 15px; 
            }
            p {
                font-size: 10px;
            }
            
        }
    }
    

    .pricing-panel {

        

        .card {
            width: 270px;
            height: 175px;
    
            .card-header {
            width: 130px;
    
            .dollar {
                font-size: 20px;
            }
    
            .price {
                font-size: 60px;
            }
        }
    
        
        }
        }
    
}

@media(max-width:450px) {
    nav {
        gap: 35px;

        .navigacija{
        gap: 5px;
        display: none;

        a {
            font-size: 10px;
        }
        }

        .logo-header {
            padding: 0;
        }

        .fa {
            display: block;
            float: right;
            margin-right: 10px;
        }

    }

    .po-header {

        height: 575px;
        .po-header-text {

            padding: 0 10px;
            padding-top: 55px;
        img {
            width: 120px;
        }

        h1 {
            font-size: 20px;
        }

        h4 {
            font-size: 10px;
        }
    }

        .free-trial {

            height: 300px;
            margin-right: 10px;
            h2 {
              font-size: 12px;  
            }

            .free-trial-today {
                height: 40px;
            }

            .details {
                height: 35%;
            }

            .subscription {
                padding-top: 10px;
                align-items: center;

                h3 {
                    font-size: 12px;
                }
            }

            .get-started {
                margin-top: 41px;
                h3 {
                 font-size: 15px;   
                }
                
            }

            .get-started:hover {
                color: #E27866;
                opacity: 0.8;
                cursor: pointer;
            }

        }
    }

    .social-media {

        .social-media-text {
            h3 {
                font-size: 12px;   
            }
            p {
                font-size: 8px;
            }
        }
    }

    .po-social-media {
        .tabs {
            margin-left: 10px;
        }
        .po-social-media-text {
            margin-left: 20px;
            h1 {
                font-size: 15px;
            }
        }
        .nuotraukos {
            margin-right: 0;
        }
    }

    .features-panel-2 {

        .features-panel-2-text {
        padding-top: 0;

        h1 {
            font-size: 18px;
        }
    }
    }


    .our-process-panel {
        height: 600px;
        .why-awesome {
            h1 {
                font-size: 20px;
            }
            p {
                font-size: 10px;
            }

            .orange-line {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .sections {
            flex-direction: column;
            padding-bottom: 10px;
            gap: 5px;
        }
    }

    .pricing-panel {
        height: 1500px;
        p {
            font-size: 10px;
        }
        .pricing-cards {
            flex-direction: column;
            gap: 230px;
            align-items: center;
        }

        .card {
        width: 225px;

        .card-header {
        width: 225px;
    }
    }
    }
    
    
    .swiper {
        padding: 0;
    }
    
    .features-panel-1 .contact-us .contact-us-box {
        width: 280px;
        height: 265px;
    }

    .footer {
        .footer-cheshire-county {
             h6 {
          font-size: 10px;  
        }
        }
       
        
    }

    .testimonial-panel {
        height: 370px;
        .swiper {
            .swiper-wrapper {
                .section-1 {
                    display: none;
                }
                .section-2 {
                    display: none;
                }
            }
        }
        .comment-section {
            width: 50%;

            .comment {
               p {
                padding: 10px;
            } 
            }
            
        }
    }
    }
    

    @media(max-width:400px) {
        nav {
           gap: 30px; 

           img {
            width: 80px;
            margin-left: 10px;
           }
        }

        footer {
            .footer-icons {
                .facebook-logo {
                width: 18px;
                height: 30px;
            }
            }
            
        }
    }